@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* ##########################
            GENERAL
#############################*/
.fondoCabeza {
  background-color: #485461;
  opacity: 1;
  background-image: linear-gradient(315deg, #5E6D8C 0%, #152840 90%);
  border: solid black; }

ul li {
  background-color: transparent;
  opacity: 1; }
  ul li a .menuGris {
    text-decoration: none;
    color: gray; }

li:hover {
  background-color: white;
  opacity: 0.1;
  border-radius: 5px; }

.navbar-collapse {
  flex-grow: 0; }

.fuenteP4A {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  font-style: italic;
  color: white; }

.fondoGeneral {
  background-color: #F2F2F2;
  opacity: 1; }

.fuenteTitulo {
  font-family: "Bebas Neue", cursive;
  font-size: 60px; }

.fondoTitulos1 {
  background-color: #5E6D8C;
  opacity: 1; }

.fondoTitulos2 {
  background-color: #95A3BF;
  opacity: 1; }

/* ##########################
            INICIO
#############################*/
.sinBorde {
  --bs-gutter-x:0; }

.fuenteTextos {
  font-family: "Be Vietnam Pro", sans-serif; }

.thumbnail {
  position: relative;
  background-image: url(../imagenes/inicio/laserfondo1.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.video {
  display: none; }

.caption {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-family: "Be Vietnam Pro", sans-serif; }

.fondoNegro {
  background-color: rgba(0, 0, 0, 0.5); }

/* ANIMACIONES INDEX */
.animacionIndex1, .animacionIndex2, .animacionIndex3, .animacionIndex4 {
  animation-name: animacion1;
  animation-iteration-count: 1;
  animation-duration: 4s;
  animation-delay: 0s; }

.animacionIndex2 {
  animation-name: animacion2;
  animation-duration: 3s; }

.animacionIndex3 {
  animation-name: animacion3;
  animation-duration: 2s; }

.animacionIndex4 {
  animation-name: animacion4;
  animation-duration: 1s; }

@keyframes animacion1 {
  from {
    transform: translateX(-500px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes animacion2 {
  from {
    transform: translateX(-500px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes animacion3 {
  from {
    transform: translateX(-500px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes animacion4 {
  from {
    transform: translateX(-500px);
    opacity: 0; }
  to {
    transform: translateX(0px);
    opacity: 1; } }

/* ##########################
            NOSOTROS
#############################*/
.descripcionNosotros {
  background-color: #2d3436;
  background-image: linear-gradient(160deg, #95A3BF 0%, #F2F2F2 74%); }

.separador {
  height: 80px; }

/* ##########################
            PROYECTOS
#############################*/
/* ANIMACIONES PROYECTOS */
.animacion1, .animacion2, .animacion3 {
  animation-name: anima1;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-delay: 0s; }

.animacion2 {
  animation-name: anima2;
  animation-duration: 2s; }

.animacion3 {
  animation-name: anima3;
  animation-duration: 3s; }

@keyframes anima1 {
  from {
    transform: translateY(500px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes anima2 {
  from {
    transform: translateY(500px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

@keyframes anima3 {
  from {
    transform: translateY(500px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

/* ##########################
            CONTACTO
#############################*/
.redes {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: sticky;
  width: 100%;
  bottom: 10px; }

.icono-ig {
  background-color: #C13584;
  border: #C13584;
  margin: 4px;
  padding: 5px;
  border-radius: 15px;
  transition: transform .5s; }

.icono-fb {
  background-color: #3b5998;
  border: #3b5998;
  margin: 4px;
  padding: 5px;
  border-radius: 15px;
  transition: transform .5s; }

.icono-whatsapp {
  background-color: #25D366;
  border: #25D366;
  margin: 4px;
  padding: 5px;
  border-radius: 15px;
  transition: transform .5s; }

.icono-ig:hover {
  transform: scale(1.2); }

.icono-fb:hover {
  transform: scale(1.2); }

.icono-whatsapp:hover {
  transform: scale(1.2); }

/* ##########################
            MEDIA Q
#############################*/
@media (min-width: 1024px) {
  .thumbnail {
    background-image: none;
    height: auto; }
  .video {
    display: block; }
  .fondoNegro {
    background-color: transparent; } }
