/* ##########################
            GENERAL
#############################*/

@mixin fondo($colorFondo,$transparencia){
    background-color: $colorFondo;
    opacity: $transparencia;
}

.fondoCabeza{
    @include fondo(#485461, 1);
    background-image: linear-gradient(315deg, $fondo3 0%, $fondo4 90%);
    border:solid black;
}
ul{
    li{
        @include fondo(transparent, 1);
        a{
            .menuGris{
                text-decoration: none;
                color: gray;
            }
        }
    }
}
li:hover{
    @include fondo(white, 0.1);
    border-radius: 5px;
}
.navbar-collapse{
    flex-grow: 0;
}
.fuenteP4A{
    font-family: $fuenteP4A;
    font-size: 40px;
    font-style: italic;
    color: white;
}
.fondoGeneral{
    @include fondo($fondo1, 1);
}
.fuenteTitulo{
    font-family: $fuenteP4A;
    font-size: 60px ;
}
.fondoTitulos1{
    @include fondo($fondo3, 1);
}
.fondoTitulos2{
    @include fondo($fondo2, 1);
}