/* ##########################
            GENERAL
#############################*/

.fondoCabeza{
    background-color: #485461;
    background-image: linear-gradient(315deg, $fondo3 0%, $fondo4 90%);
    border:solid black;
}
ul{
    li{
        background-color: transparent;
        a{
            .menuGris{
                text-decoration: none;
                color: gray;
            }
        }
    }
}
li:hover{
    background-color: white;
    opacity: 0.1;
    border-radius: 5px;
}
.navbar-collapse{
    flex-grow: 0;
}
.fuenteP4A{
    font-family: $fuenteP4A;
    font-size: 40px;
    font-style: italic;
    color: white;
}
.fondoGeneral{
    background-color:$fondo1;
}
.fuenteTitulo{
    font-family: $fuenteP4A;
    font-size: 60px ;
}
.fondoTitulos1{
    background-color: $fondo3;
}
.fondoTitulos2{
    background-color: $fondo2;
}