/* ##########################
            NOSOTROS
#############################*/


.descripcionNosotros{
    background-color: #2d3436;
    background-image: linear-gradient(160deg, $fondo2 0%, $fondo1 74%);
}
.separador{
    height:80px;
}